    <div id="platforms">
        <script type="text/javascript">
            document.body.onscroll = e => {
              var percentage = 0 + 200 * document.documentElement.scrollTop / window.innerHeight
              document.getElementById('antipasti').style.backgroundPosition = "50% " + percentage + "%"
            }
        </script>
        <div id="antipasti" style="height: min(35vw, 43vh); background-position: 50% 0%; background-size: cover; background-image:url(images/earth.jpg)"></div>

        <div class="container">
            <div class="d-block mt-0">
                <h1 class="d-flex pt-5 pb-5">Plattformen</h1>
                <p class="lead">Welche Plattformen interessieren dich?</p>
            </div>
        </div>

        <div class="container d-flex">
          <div class="row gap-4 p-0 m-0">

            <!-- Liquid Template to be filled by .rb script !! -->
            {% for p in platforms %}
              <div class="shadow card text-bg-light d-inline-block rounded-0 p-0" style="width: 20rem;">
                <div class="platform">
                <div class="card-img-top rounded-0" style="
                        height: 12rem;
                        background-image: url({{ p.Images }});
                        background-size: 100% auto;
                        background-repeat: no-repeat;
                        background-position: center;
                "></div>
                <div class="card-body">
                  <h5 class="card-title">{{p.Name}}</h5>
                  <p class="card-text">{{p.Description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Kategorien: {{p.Categories}}</li>
                  <li class="list-group-item">Tags: {{p.Tags}}</li>
                </ul>
                <div class="card-body">
                  <a href="{{p.external_link}}" target="blank" class="card-link justify-content-begin">Direkt zur Plattform</a>
                  <a href="#" class="card-link justify-content-end">Mehr infos</a>
                </div>
              </div>
            </div>
            {% endfor %}
            <!-- Ende Liquid Template !! -->

          </div>
        </div>
    </div> <!-- end of projects -->